/* Your app's CSS, go crazy, make it your own */

.ionic-logo {
  display: block;
  margin: 15px auto;
  width: 96px;
  height: 96px;
}

.tony {
	height: 22px;
}

.scroll-content {
	background: #d6d6d6;
}

.card {
	max-width: 300px;
	box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
}

.card, .list-inset {
	border-radius: 15px;
}

.card .item:first-child, .list-inset .item:first-child, .padding > .list .item:first-child {
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
}

.card .item:last-child, .list-inset .item:last-child, .padding > .list .item:last-child {
	border-bottom-right-radius: 15px;
	border-bottom-left-radius: 15px;
}

.item h2 {
	font-weight: bold;
}

.bar .title {
	font-weight: bold;
}

.item-body {
	width: 300px;
}

.masonry {
  margin: 0 auto;
}

/* iPhone 5 in landscape */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 568px) 
and (orientation : landscape) { 

	.card {
		max-width: 264px;
	}

	.item-body {
		width: 264px;
	}

}

/* iPhone 2G-4S in landscape */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) 
and (orientation : landscape) { 

	.card {
		max-width: 220px;
	}

	.item-body {
		width: 220px;
	}

}

/* tablet with width=600px in portrait */
@media only screen 
and (min-device-width : 600px) 
and (max-device-width : 601px) 
and (orientation : portrait) { 

	.card {
		max-width: 280px;
	}

	.item-body {
		width: 280px;
	}

}

/* tablet with width=800px in portrait */
@media only screen 
and (min-device-width : 603px) 
and (orientation : portrait)
and (-webkit-min-device-pixel-ratio: 1.3) { 

	.card {
		max-width: 280px;
	}

	.item-body {
		width: 280px;
	}

}

/* phone with width=800px in portrait */
@media only screen 
and (min-device-width : 533px) 
and (max-device-width : 534px) 
and (orientation : landscape) { 

	.card {
		max-width: 240px;
	}

	.item-body {
		width: 240px;
	}

}

.mycard {
	z-index: 99;
	position: fixed;
	top: 49px;
	left: 5px;
	min-width: 240px; 
	margin: 0px;
}


.scroll, .angular-leaflet-map {
  height: 100%;
}